.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background: rgb(209, 219, 235, 0.6);
}

.footer p {
  font-size: 12px;
  font-style: italic;
  color: #4a5568;
}

