.search-recipe {
  margin-top: 30px;
  padding: 10px;
  border-radius: 28px;
  background: rgb(252, 251, 249, 0.75);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(101, 22, 9, 0.1);
  transition: all 0.3s ease-in-out;
}

.search-recipe:hover {
  border-color: #651609;
}

.search-recipe:focus-within {
  border-color: #651609;
  box-shadow: 0 0 0 1px #651609;
  outline: none;
}

.search-recipe input.ant-input {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* FILTER */

.filter-item-select {
  min-width: 100px;
  border-radius: 99px;
  border-color: #e59e22 !important;
}

/* LIST */

.recipe-card {
  border-radius: 15px;
  overflow: hidden;
}

.recipe-card:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 22px -10px rgba(0, 0, 0, 0.28), 0 4px 10px rgba(0, 0, 0, 0.12);
}

.recipe-card-tag span {
  padding: 2px 8px;
  border-radius: 40px;
}










